<!DOCTYPE html>
<html>
  <head>
    <title>TESTSASS</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="xxx">test</div>
  </body>
</html>